body {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-size: 14pt;
}
a {
  outline:0; 
  text-decoration: none;
  color: #035aa6;
  font-weight: bold;
}
a:hover, a:focus {
  color: #40bad5;
  font-weight: bold;
}

header, main {
  -webkit-text-size-adjust: none;
}

table.unstyledTable {
  text-align: center;
}
table.unstyledTable td, table.unstyledTable th {
  padding: 5px 10px;
  font-size: 16pt;
  text-align: left;
}
table.unstyledTable td.reponame {
    text-align: left;
}
table.unstyledTable td.count {
    text-align: right;
}

table.unstyledTable thead {
  background: #DDDDDD;
  border-bottom: 2px solid #444444;
}
table.unstyledTable thead th {
  font-size: 16pt;
  font-weight: normal;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

header {
  white-space: nowrap;
  cursor: default;
  z-index: 100;
  margin-bottom: 2em;
}

header h1 {
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}

header nav {
  display: inline-block;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

header nav li {
  display: inline-block;
  padding: 0 .6em;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

section {
  width: 50em;
  margin-bottom: 3em;
  margin-top: 3em;
}

section em {
  color: #bb3b0e;
  background: #efefef;
  font-style: normal;
}

section a {
  white-space: nowrap;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section li {
  padding-left: 3em;
  position: relative;
}

section li:before {
  content: "\00a0\00a0-\00a0";
  position: absolute;
  left: 0;
  top: 0;
}
