body {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-size: 16pt;
  min-width: 60em;
}
img { border:0; }
a { outline:0; }
main, figure, figcaption { display:block; }
pre, code { font-family: "Inconsolata", monospace; }
header, main {
  -webkit-text-size-adjust: none;
}

table.unstyledTable {
  text-align: center;
}
table.unstyledTable td, table.unstyledTable th {
  padding: 5px 10px;
  font-size: 16pt;
}
table.unstyledTable thead {
  background: #DDDDDD;
  border-bottom: 2px solid #444444;
}
table.unstyledTable thead th {
  font-size: 16pt;
  font-weight: normal;
}
table.unstyledTable tfoot {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #218380;
  font-weight: bold;
}
a:hover, a:focus {
  color: #8F2D56;
  font-weight: bold;
}
h1, h2 {
  font-size: 1em;
  font-weight: bold;
}
header {
  white-space: nowrap;
  cursor: default;
  z-index: 100;
  margin-bottom: 2em;
}
header h1 {
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}
header h1 a, header h1 span {
  display: inline-block;
  text-decoration: none;
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
header h1 a:hover, header h1 a:focus {
  color: #99ff99;
  text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
header nav li {
  display: inline-block;
  padding: 0 .6em;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

*::-moz-focus-inner {
  padding: 0;
  border: 0
}

article {
  width: 45em;
  margin-bottom: 2em;
  margin-top: 2em;
}
article:first-child {
  margin-top: 0;
}
article h2 {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
}
article h2 + * {
  margin-top: 0;
}
article em {
  color: #000000;
  background: #efefef;
  font-style: normal;
}
article em.star {
  color: #ffff66;
  font-style: normal;
  text-shadow: 0 0 5px #ffff66;
}
article a {
  white-space: nowrap;
}
article .aside {
  opacity: .6;
}
article ul {
  list-style-type: none;
  padding: 0;
}
article li {
  padding-left: 2.5em;
  position: relative;
}
article li:before {
  content: "\00a0\00a0-\00a0";
  position: absolute;
  left: 0;
  top: 0;
}
