body {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-size: 16pt;
  min-width: 60em;
}
a { outline:0; }
header, main {
  -webkit-text-size-adjust: none;
}

table.unstyledTable {
  text-align: center;
}
table.unstyledTable td, table.unstyledTable th {
  padding: 5px 10px;
  font-size: 16pt;
}
table.unstyledTable thead {
  background: #DDDDDD;
  border-bottom: 2px solid #444444;
}
table.unstyledTable thead th {
  font-size: 16pt;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #218380;
  font-weight: bold;
}
a:hover, a:focus {
  color: #8F2D56;
  font-weight: bold;
}
h1, h2 {
  font-size: 1em;
  font-weight: bold;
}
header {
  white-space: nowrap;
  cursor: default;
  z-index: 100;
  margin-bottom: 2em;
}
header h1 {
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
header nav li {
  display: inline-block;
  padding: 0 .6em;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

article {
  width: 45em;
  margin-bottom: 2em;
  margin-top: 2em;
}
article em {
  color: #000000;
  background: #efefef;
  font-style: normal;
}
article a {
  white-space: nowrap;
}
article ul {
  list-style-type: none;
  padding: 0;
}
article li {
  padding-left: 2.5em;
  position: relative;
}
article li:before {
  content: "\00a0\00a0-\00a0";
  position: absolute;
  left: 0;
  top: 0;
}
