<html>
<!--

Hey! Thanks for checking in!
Im really bad at building web-sites, so this is pretty straight forward stuff.
Most of this is inspired by Advent of Code (https://adventofcode.com), that is truly 
a great web-site and has tons of fun stuff. Check that site out instead :-) 
  
The code generating the content for these webpages can be found at https://github.com/saidaspen/rustcred

-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RustCred</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/rustcred.css">
</head>
<body> 
    <header>
        <div>
            <h1 class="global">&#x1F980; RustCred</h1>
            <nav>
                <ul>
                    <li>
                        [<a href="index.html">Scores</a>]
                    </li>
                    <li>
                        [<a href="about.html">About</a>]
                    </li>
                    <li>
                        [Tracked Repos]
                    </li>
                    <li>
                        [<a href="https://github.com/saidaspen/rustcred">View Soure</a>]
                    </li>
                    <li>
                        ({{version}})
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <i>updated: {{updated_at}}</i>
        </div>
    </header>

    <section>
        <div>
            <table class="unstyledTable">
                <thead>
                    <tr>
                        <th>Repo</th>
                        <th># contributors*</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tracked_repo in tracked_repos %}
                    <tr>
                        <td class="reponame"><a href="https://github.com/{{tracked_repo.0}}">{{tracked_repo.0}}</a></td>
                        <td class="count">{{tracked_repo.1}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <i>* This is the number of unique contributors that are on RustCred, not the total number of contributors to that repo.
        </div>
    </section>
</body>
</html>
